# don't autoconvert to cr/lf on windows; just use unix line end (LF)
# there is no technical reason for it, I just prefer to not have the
# files changed automagically depending on the host.
text eol=lf

# these should be treated as text files
.gitattributes  text
.gitignore      text
*.bat           text
*.css           text
*.ccvf          text
*.js            text
*.txt           text
jshintrc        text
LICENSE         text

# These files need to preserve compucolor (mac) line endings
*.ccc binary
