body
{
    height:100%;
    background-color:#f4f4f4;
}

h1
{
    text-align:center;
    margin-bottom:0;  /* want the Help and About links to hang tight */
}

p.dateline
{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

div.helplinks
{
    text-align:center;
    margin-bottom:1em;
}

div#controls
{
    float: left;
    background-color: #e4e4e4;
    border: solid 2px #d8d8d8;
    border-radius: 8px;
    padding: 6px;
}

div#controls p
{
    margin-top:4px;
    margin-bottom:4px;  /* push CRT down a bit */
}

/* all buttons in the group the same width */
.but1
{
    width:8em;
}

/* indent controls a bit relative to its heading */
#controls select
{
    margin-left: 1em;
}

#controls div.radios input:first-child
{
    margin-left: 1em;
}

/* opera doesn't allow programmatically sending clicks to a
 * display:none element, so instead just move it off the page */
#fileinput,
#diskinput0,
#diskinput1
{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -5000px;
}

/* center it; add border so chars aren't flush with boundary */
#canv
{
    display:block;
    margin-left:auto;
    margin-right:auto;
    /* for some reason, on my computer with IE10, 30px results in a one pixel
     * wide border around the canvas rect, inside the rounded margin, and
     * 28px doesn't! It is the width, not the radius, that is the problem.
     * it is also insensitive to the chosen browser and document modes.  */
    border:solid 28px black;
    border-radius:28px;
}

#screen
{
    width:auto;
    margin:0 auto;
}

/* ========================= fullscreen diddling ========================= */

:-moz-full-screen #canv
{
    position:fixed;
    top:0; right:0; bottom:0; left:0;
    margin:auto;
    box-sizing:border-box;
    width:90%;
    height:90%;
    border-radius:0;
    border:0;
}

/* apparently we can't list the two selectors separated with commas,
 * and we have to repeat this stuff for each */
:-webkit-full-screen #canv
{
    position:fixed;
    top:0; right:0; bottom:0; left:0;
    margin:auto;
    box-sizing:border-box;
    width:90%;
    height:90%;
    border-radius:0;
    border:0;
}

/* for some reason, FF displays the drive labels, even though
 * they are not inside the element which fullscreen was applied to */
:-moz-full-screen div#drives { display:none; }

/* ====================== soundware checkbox ====================== */

.soundware
{
    margin-top:5px;
    margin-bottom:5px;
}

/* hide by default: enable it only if AudioContext is supported */
.soundware
{
    display:none;
}

/* ==================== speed regulation checkbox ==================== */

.regulate
{
    margin-top:5px;
    margin-bottom:5px;
}

/* hide by default: enable it only if AudioContext is supported */
.regulate
{
    display:none;
}

/* ====================== virtual keyboard interface ====================== */

#virtualkeyboard 
{
    font-size:8px;  /* inherited by children */
    clear:both;
    display:none;
    margin-top:2em;
}

#virtualkeyboard button
{
    height:5.5em;
    width:5.5em;
    border-radius:8px;
    outline: none;  /* prevent focus ring in webkit */
}

/* single letter primary key caps */
#virtualkeyboard button span.big
{
    font-size:11px;
}

/* multi-letter primary key caps - bigger than default, smaller than .big */
#virtualkeyboard button span.big2
{
    font-size:9px;
}

#virtualkeyboard button:active,
#virtualkeyboard button.active
{
    border-style:inset;
    padding: 0px 4px 4px 0px;
}

#virtualkeyboard button.return { width:11em; }

button.black    { background-color:#000000; color:#ffffff; }
button.blue     { background-color:#0000f0; color:#ffffff; }
button.red      { background-color:#f00000; color:#ffffff; }
button.magenta  { background-color:#f000f0; color:#ffffff; }
button.green    { background-color:#00dd00; color:#000000; }
button.cyan     { background-color:#00f0f0; color:#000000; }
button.yellow   { background-color:#eeee00; color:#000000; }
button.white    { background-color:#f8f8f8; color:#000000; }
button.fcn      { background-color:#bfb182; color:#ffffff; }
button.norm     { background-color:#ab8a68; color:#ffffff; }
button.rstrow   { background-color:#a71e08; color:#ffffff; }
button.arrow    { background-color:#888888; color:#ffffff; }
button.return   { background-color:#505050; color:#ffffff; }
button.nkgreen  { background-color:#5a8c5a; color:#ffffff; }

/* ======================== floppy disk interface ======================== */

div#drivelabels p
{
    display:inline;
    margin:0;
}

div#driveselection
{
    clear:both;
    display:inline;
    margin:0;
}

#drivegroup0 { float:left;  padding-left:4em; }
#drivegroup1 { float:right; padding-right:4em; }

p#drive0 { margin:0; }
p#drive1 { margin:0; }

#disksel0 { margin:0; }
#disksel1 { margin:0; }

span#CD0, span#CD1
{
    padding-left:4px; padding-right:4px;
}

/* ========================= debugger interface ========================= */

/* hide by default: javascript can unhide it when it wants */
.debugger
{
    display:none;
}

/* hide by default: is it worth the complexity? */
.romdiv-NEUTER
{
    display:none;
}

/* hide the debuggger interface by default */
button#run_debug { display: none; }

/* input box where you specify how many ops "Run n" should execute */
#nval
{
    width:5em;
}

/* disassembler register window uses fixed width font */
#regtable td,
#regtable th
{
    font-family:"Courier New", monospace;
    font-size:14px;
}

/* vim:et:sw=4:
 */
